Header unset ETag
FileETag None

Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
Header set Content-Security-Policy "https:"
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-Xss-Protection "1; mode=block"
Header always set X-Content-Type-Options "nosniff"
Header always set Public-Key-Pins "pin-sha256='po2jlRuhnas8ATSzqVG4x6/CyGkSwAs7B85oABOyboA=';

Options +FollowSymlinks
ReWriteEngine on
ReWriteBase /

<IfModule mod_expires.c>
  ExpiresActive On
  <FilesMatch ".(svg|ico|pdf|jpg|jpeg|png|gif|js|css|swf|woff)$">
    ExpiresDefault "access plus 1 month"
  </FilesMatch>
</IfModule>

<FilesMatch ".(js|css|html|htm|php|xml|woff)$">
  SetOutputFilter DEFLATE
</FilesMatch>
