// graph styling
#chart-container
  clear: both
  display: block
  height: 248px
  overflow: auto
  overflow-y: hidden
  position: relative
  z-index: 2

#chart
  max-height: 300px

.rickshaw_graph
  border-bottom: solid #6a912d 48px

  .y_grid line
    stroke: $g-strokes

  .y_ticks path
    display: none

  .y_ticks text,
  .x_ticks_d3 text
    color: $g-strokes
    font: $f-light 12px/16px $f-family
    fill: $g-strokes
    opacity: 1

  .x_tick
    border-left: 1px dotted $g-strokes
    bottom: -44px
    .title
      color: $g-strokes
      font: $f-light 16px/20px $f-family
      fill: $g-strokes
      margin: 10px
      opacity: 1

  .detail
    background: $g-strokes
    .dot.active
      display: none

    .item.active,
    .x_label
      background: #fff
      border: none
      border-radius: 0
      color: #29abe2
      font: $f-medium 16px/20px $f-family
      margin: 0
      padding: 5px 10px
      top: 0 !important
      &:after
        display: none

    .x_label
      font-weight: $f-light
      opacity: 1
      top: 30px !important

// Form
#form
  display: none
  left: 35px
  margin: -472px 0 20px
  position: absolute
  @media (min-width: 521px)
    display: block

.daterange
  background: transparent
  border: solid 2px #fff
  font: $f-medium 20px/24px $f-family
  margin-left: -5px
  padding: 2px 10px
  @media (min-width: 820px)
    font: $f-medium 20px/24px $f-family

label
  display: block
  font: $f-light 18px/22px $f-family
  padding-bottom: 16px

#tip
  color: rgba(#fff, .5)
  left: 35px
  margin-top: -320px
  max-width: 120px
  position: absolute
  &:after
    background: url(../img/arrow.svg) 0 0 no-repeat
    content: ""
    height: 100px
    margin: 10px
    position: absolute
    width: 100px