// layout
.wrapper
  margin: 0 auto

.left-side,
.right-side
  padding: 20px

@media (min-width: 820px)
  .left-side,
  .right-side
    float: left
    max-width: 380px

  .right-side
    float: right
    max-width: none
    padding-top: 100px
    text-align: right
