@import "variables"

@import "libs/normalize"
@import "libs/date-picker"
@import "libs/rickshaw"

@import "layout"
@import "stats"
@import "graph"
@import "turbine"
@import "about"

body
  background: $c-main
  background: linear-gradient(to bottom,  $c-main 1%,#0087a0 13%,#33c3dd 69%,#99e1ee 100%) 0 0
  color: #fff
  font: $f-medium #{$f-size}/#{$f-height} $f-family
  overflow: auto
  overflow-y: scroll

h1,
h2
  font-size: 26px
  font-family: $f-family
  line-height: 30px
  margin: 0

h2
  font-size: 16px
  font-weight: $f-light

h4
  font-size: 18px
  font-weight: $f-light

#main-title
  font-size: 48px
  font-weight: $f-medium
  line-height: 48px
  text-transform: uppercase
  & + h2
    line-height: 20px
    margin-bottom: 24px

a
  color: #fff
  opacity: .5
  text-decoration: none
  transition: opacity .3s
  &:hover,
  &:focus
    opacity: 1

// Form
#form
  display: none
  margin: 0 0 20px
  @media (min-width: 421px)
    display: block

.daterange
  background: transparent
  border: solid 2px #fff
  font: $f-medium 24px/28px $f-family
  margin-left: -5px
  padding: 2px 10px

label
  display: block
  font: $f-light 18px/22px $f-family
  padding-bottom: 16px

// social
#nav
  padding: 20px 0 0
  @media (min-width: 421px)
    padding: 20px 35px
  a
    display: inline-block
    margin: 0 0 0 20px
    vertical-align: middle
  .twitter
    margin-left: 10px
  @media (min-width: 600px)
    position: absolute
    right: 0
    top: 0