@import "libs/date-picker"
@import "libs/rickshaw"

body
  background-color: #fff
  color: #333
  font: 18px/22px HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif

// graph styling
#chart-container
  clear: both
  display: block
  height: 130px
  overflow: auto
  position: relative

#chart
  max-height: 200px

#legend
  background: rgba(#fff, .6)
  bottom: 60px
  left: 20px
  padding: 5px 10px
  position: absolute
  ul
    margin: 0
    padding: 0
  li
    display: block
  .swatch
    display: inline-block
    height: 10px
    margin: 0 5px 0 0
    vertical-align: middle
    width: 10px

// Form
#form
  margin: 0 0 20px

// Stats
#turbine-stats
  float: right
  width: 50%

// wind turbine styling
#wind-turbine-container
  float: left
  position: relative
  width: 50%

#wind-turbine
  filter: drop-shadow(7px 0 14px rgba(0,0,0,0.3))

#turbine-mast,
#turbine-rotor,
.rotor-blade,
.rotor-tip
  background-color: white
  background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%)
  border: 1px solid #cdcdcd

#turbine-mast
  bottom: -100px
  height: 350px
  left: 50%
  margin: 150px 0 0 -10px
  position: relative
  width: 20px

#turbine-rotor-container
  bottom: 220px
  left: 50%
  height: 50px
  margin: -25px 0 0 -25px
  position: absolute
  width: 50px
  transform-origin: center, center

#turbine-rotor
  border-radius: 50%
  left: 50%
  height: 50px
  margin: -25px 0 0 -25px
  position: absolute
  top: 50%
  width: 50px
  transform-origin: center, center
  transition: all 600ms
  &.animated
    animation: rotate 2s infinite linear

@keyframes rotate
  from
    transform: rotateZ(0deg)
  to
    transform: rotateZ(360deg)

.rotor-blade
  background-color: green
  border-radius: 100% 15%
  height: 30px
  left: 25px
  position: absolute
  top: 10px
  transform-origin: left
  width: 200px

.blade1
  transform: rotate(90deg)

.blade2
  transform: rotate(325deg)

.blade3
  transform: rotate(205deg)

.rotor-tip
  background-color: white
  background-image: radial-gradient(center, ellipse cover, #ffffff 0%, #fcfcfc 47%, #0c0c0c 53%, #fcfcfc 60%, #e5e5e5 100%)
  border-radius: 50%
  left: 9px
  height: 30px
  position: absolute
  top: 9px
  width: 30px
  z-index: 1

h4
  background-color: lightgray
  display: inline-block
  margin-left: 30px
  padding: 10px
  border: 1px solid darkgray
