@import "variables"

@import "libs/normalize"
@import "libs/date-picker"
@import "libs/rickshaw"

@import "layout"
@import "stats"
@import "graph"
@import "turbine"
@import "about"

body
  background: $c-main
  background: linear-gradient(to bottom,  $c-main 1%,#0087a0 13%,#33c3dd 69%,#99e1ee 100%) 0 0
  color: #fff
  font: $f-medium #{$f-size}/#{$f-height} $f-family
  overflow: auto
  overflow-y: scroll

h1,
h2
  font-size: 26px
  font-family: $f-family
  line-height: 30px
  margin: 0

h2
  font-size: 16px
  font-weight: $f-light

h4
  font-size: 18px
  font-weight: $f-light

// Form
#form
  margin: 0 0 20px

.daterange
  background: transparent
  border: solid 2px #fff
  font: $f-medium 24px/28px $f-family
  &:after
    border-bottom: 9px solid #fff
    border-left: 9px solid transparent
    bottom: 1px
    content: ""
    height: 0
    right: 1px
    width: 0

label
  font: $f-light 18px/22px $f-family