<div id="turbine-stats">
  <p ng-show="turbine.daterange">The graph shows the power generated between {{ turbine.daterange.startDate.toISOString() | date : 'MMM d, y HH:mm' }} and {{ turbine.daterange.endDate.toISOString() | date : 'MMM d, y HH:mm' }}.</p>
  <p>On <strong>{{ turbine.displayDate | date : 'MMMM d, y' }} at {{ turbine.displayDate | date : 'HH:mm' }}</strong></p>
  <p>Wind power was generating {{ turbine.wattage }}MW.</p>

  <!-- <p>That's <span id="percent">{{ turbine.totalPercentage }}</span>% of the UK's current energy demand.</p> -->
  <p ng-repeat="example in turbine.usageExamples">
    This is the equivalent to {{ example.action }} {{ turbine.wattage/example.consumption | number:0 }} {{ example.name }}.
  </p>
</div>