<div id="wind-turbine-container">
  <div id="wind-turbine" style="font-size: {{turbine.turbineHeight()}}px">
    <div id="turbine-mast"></div>

    <div id="turbine-rotor-container">
      <div id="turbine-percentage" style="opacity: {{ turbine.wattage/10000 }}"></div>

      <div id="turbine-rotor" class="animated"
        style="-webkit-animation-duration: {{ rotationSpeed }}s;
        -moz-animation-duration: {{ rotationSpeed }}s;
        -ms-animation-duration: {{ rotationSpeed }}s;
        -o-animation-duration: {{ rotationSpeed }}s;
        animation-duration: {{ rotationSpeed }}s;">
        <div id="turbine-percentage-complete" style="width: {{ turbine.percentage*2 }}%; height: {{ turbine.percentage*2 }}%"></div>
      </div>
    </div>
  </div>
</div>