@import "assets/sass/variables"

$c-new-main: #fff
$g-strokes-new: #005a6b

#canvas
  bottom: 0
  display: block
  left: 0
  position: fixed
  right: 0
  top: 0

// about
#about
  background: $c-new-main
  color: $c-main


// graph
.rickshaw_graph
  border-bottom-color: $c-new-main

  .y_grid line
    stroke: $g-strokes-new

  .y_ticks text,
  .x_ticks_d3 text
    color: $g-strokes-new
    fill: $g-strokes-new

  .x_tick
    border-left-color: $g-strokes-new
    .title
      color:  $g-strokes-new
      fill:  $g-strokes-new

  .detail
    background:  $g-strokes-new

  svg g path.area
    fill: $c-new-main


#turbine-rotor-container
  margin-top: -10px

#turbine-mast
  background-image: none
  margin-left: -0.16em
  width: 0.42em
//   .top
//     animation: shake 2s linear infinite
//   .middle
//     animation: shakeM 1200ms linear infinite
//   .balls
//     animation: balls 900ms linear infinite

// @keyframes shake
//   0%
//     transform: rotateZ(-0.2deg)
//   45%
//     transform: rotateZ(0.2deg) translateY(1px)
//   55%
//     transform: rotateZ(0.2deg) translateY(1px)
//   100%
//     transform: rotateZ(-0.2deg)

// @keyframes shakeM
//   0%
//     transform: rotateZ(0.2deg) translateY(1px)
//   45%
//     transform: rotateZ(0deg)
//   55%
//     transform: rotateZ(0deg)
//   100%
//     transform: rotateZ(0.2deg) translateY(1px)

// @keyframes balls
//   0%
//     transform: translateY(-1px)
//   45%
//     transform: translateY(0)
//   55%
//     transform: translateY(0)
//   100%
//     transform: translateY(-1px)